<!-- chapter03/templates/inde.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Flask Restful API Example</title>
    <script src="/static/jquery.min.js"></script>                             <!--(1)-->
    <script type="text/javascript">
    // POST Request to server to set LED state.
    function getNextStep() {                                             // (4)
        $.get("/led", function(serverResponse, status) {
           console.log(serverResponse)
            alert(serverResponse.step);
        });
    }

    $(document).ready(function() {
        // Event listener for Slider value changes.
        // .on('input', ...) will fire as the slider changes (= lots of network traffic). Change to
        // .on('change', ...) to fire only after mouse button is released.
        $("input[type=range].brightnessLevel").on('input', function() {        // (7)
               getNextStep();
            });
    });

    </script>
</head>
<body>
    <h1>Flask RESTful API Example</h1>
    REST API Step {{step}}<br>                                      <!--(11)-->
    Brightness: <span id="brightnessLevel"></span>%<br>
    <input type="range" min="0" max="100" value="0" class="brightnessLevel">  <!--(12)-->
</body>
</html>
